.n-scrollbar.is-customize {
    .n-scrollbar-content {
        min-height: 100%;
        display: flex;
        flex-direction: column;
    }
}

.n-spin-container.is-customize {
    &.appear {
        --n-opacity-spinning: 0;
    }
    display: flex;
    flex-direction: column;
    .n-spin-content {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}

.n-dialog.is-customize {
    &.close-title > .n-dialog__title {
        display: none;
    }
}

.n-notification-container.is-customize-remote-provider {
    .n-scrollbar-content {
        padding: 12px;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .n-notification-wrapper {
        margin-top: 0;
    }
    .n-notification,
    .n-notification-main {
        margin: 0;
        padding: 0;
        width: inherit;
    }
}
