.n-scrollbar.is-customize {
    .n-scrollbar-content {
        min-height: 100%;
        display: flex;
        flex-direction: column;
    }
}

.n-spin-container.is-customize {
    &.appear {
        --n-opacity-spinning: 0;
    }
    display: flex;
    flex-direction: column;
    .n-spin-content {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}

.n-dialog.is-customize {
    &.close-title > .n-dialog__title {
        display: none;
    }
}

.n-notification-container.is-customize-remote-provider {
    --call-notification-padding: 20px;
    .n-scrollbar-content {
        padding-top: 16px !important;
        padding-bottom: 16px !important;
    }
    .n-notification-wrapper:first-child {
        margin-top: 0;
    }
    .n-notification {
        --n-width: 320px;
        padding: var(--call-notification-padding);
        // background-color: var(--chat-carte-color);
    }
    .n-notification-main {
        margin-left: 0;
        padding: 0;
        width: 100%;
    }
}
