.n-scrollbar.is-customize {
    .n-scrollbar-content {
        min-height: 100%;
        display: flex;
        flex-direction: column;
    }
}

.n-spin-container.is-customize {
    &.appear {
        --n-opacity-spinning: 0;
    }
    display: flex;
    flex-direction: column;
    .n-spin-content {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}
