@import 'normalize.css';
@import './common.scss';
@import './customize.scss';

html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-family: Roboto, Arial, sans-serif, pingfang SC, roboto, helvetica neue, hiragino sans gb, simsun;
    a {
        text-decoration: none;
    }
}
