@import 'normalize.css';
@import 'cropperjs/dist/cropper.min.css';
@import './common.scss';
@import './customize.scss';

html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-style: normal;
    font-family: Roboto, Arial, sans-serif, pingfang SC, roboto, helvetica neue, hiragino sans gb, simsun;
    a {
        text-decoration: none;
    }
    .app.is-customize > .n-scrollbar-rail {
        z-index: 99;
    }
}
